doctype html
html(lang="en")
  head
    <meta charset="UTF-8">
    //- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-11283135-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-11283135-1');

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
    title !{options.heading} | Ravi Vyas

    block head
    
  body
    div.header
      div.nav 
        a.nav-logo(href="/")
            span Ravi Vyas
        ul.nav-links
          li 
            a(href="/about.html") About
          li 
            a(href="https://twitter.com/ravivyas84" target="_blank") Twitter
          li
            a(href="https://www.getrevue.co/profile/ravi" target="_blank"   ) NewsLetter


    section.section
        block content
      

    #footer 
      .container.content
        span Static CMS built by hand, based on #[a(href="https://github.com/doug2k1/nanogen") Nano]. 
        br
        span Copyright 2018