extends ./base.pug

block content
    .container.content 
        h1.title Ravi Vyas
        h2.title Operator and Learner

        p Posts

        ul
            for post in options.allPosts
                li 
                    a(href=post.filename) #{post.heading}
        