extends ./base.pug

block content
    .container.content 
        h1.title Ravi Vyas
        h2.title Operator and Learner

        for post in options.allPosts
            div.postlist
                div.headline.col-8
                    a(href=post.filename) #{post.heading}
                div.date.col-2 #{post.humandate}
        