html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
figure, footer, header, menu, nav, section, time, mark, audio, video, details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block
}

html {
    box-sizing: border-box
}

* , * :before, * :after {
    box-sizing: inherit
}

img, object, embed {
    max-width: 100%
}

html {
    overflow-y: scroll
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #222324;
    font-weight: 300;
    line-height: 1.125;
    margin-bottom: 20px;
}

.postlist {
    margin-bottom: 20px;
}

.headline {
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #222;
    padding: 5px 0;
    max-width: 460px;
    /* border-bottom: 1px solid #ddd; */
}

.headline a:link {
    color: #222;
    text-decoration: none;
    text-decoration-color: #222;
}

.headline a:visited{
    color: #222;
    text-decoration: none;
    text-decoration-color: #222;
}

.headline a:hover{
    border-bottom-color: #222;
}

.date{
    font-size: 14px;
    display: block;
}

@media (min-width: 600px){
 .date {
    float: right;
    font-size: 19px;
    text-align: right;
    }
}
    
.postDate {
    font-size: 14px;
    margin-bottom: 10px; 
    color: #69707a
}

.content h1 {
    font-size: 2em
}

.content h2 {
    font-size: 1.75em
}

.content h3 {
    font-size: 1.5em
}

.content h4 {
    font-size: 1.25em
}

.content h5 {
    font-size: 1.125em
}

.content h6 {
    font-size: 1em
}

.content ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em
}

.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em
}

.container {
    max-width: 600px;
    margin: 0 auto
}

.content {
    font-size: 16px;
    line-height: 1.75;
    padding-left:10px;
    padding-right:10px;
}

.media-content .subtitle + .title {
    margin-bottom: 10px
}

.media-content .content {
    line-height: 1.5
}


html {
    background-color: transparent
}

.subtitle {
    color: #69707a
}

.title {
    line-height: 1.25;
    font-size: 24px;
    margin-top: 30px;
}

.title.notfound {
    font-size: 20vw
}

code {
    color: inherit;
    background-color: transparent;
    font-size: 90%
}

article + article {
    margin-top: 80px
}


strong{
    font-weight: bold
}

.content p:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child),
.content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 1.5em
}

.content table td, .content table th {
    border: 1px solid #d3d6db;
    padding: 8px 10px;
    vertical-align: top
}

.content > code, .content p > code {
    font-size: 90%;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #42464c
}

.content pre code {
    font-size: 90%;
    padding: 1em;
    line-height: 1.5
}

.content li pre, .content li table {
    margin-bottom: 1.5em
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .header {
    padding: 20px 0;
    position: relative;
    background: #f5f5f5;
    border-bottom: 1px solid #eaeaea;
    text-decoration: none;
  }
  
  .nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
    text-align: right;
  }
  
  .nav-logo {
    float: left;
    margin-top: -11px;
    transition: transform 150ms ease-out;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .nav-logo:hover {
    transform: scale(1.1);
  }
  
  .nav-logo img {
    display: block;
    max-height: 40px;
    width: auto;
  }
  
  .nav-links {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin: 0 0 0 15px;
  }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #111;
  }
  
  .nav-links a:hover {
    color: #000;
  }

  #footer {
      margin-top: 80px;
  }
        

  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block
  }
  
  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
  }
  
  .resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
  }
  
  .resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
  }
  
  .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
  }
  
  /* Non solid icons get a stroke */
  .resp-sharing-button__icon {
    stroke: #fff;
    fill: none
  }
  
  /* Solid icons get a fill */
  .resp-sharing-button__icon--solid,
  .resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
  }
  
  .resp-sharing-button--twitter {
    background-color: #55acee
  }
  
  .resp-sharing-button--twitter:hover {
    background-color: #2795e9
  }
  
  .resp-sharing-button--pinterest {
    background-color: #bd081c
  }
  
  .resp-sharing-button--pinterest:hover {
    background-color: #8c0615
  }
  
  .resp-sharing-button--facebook {
    background-color: #3b5998
  }
  
  .resp-sharing-button--facebook:hover {
    background-color: #2d4373
  }
  
  .resp-sharing-button--tumblr {
    background-color: #35465C
  }
  
  .resp-sharing-button--tumblr:hover {
    background-color: #222d3c
  }
  
  .resp-sharing-button--reddit {
    background-color: #5f99cf
  }
  
  .resp-sharing-button--reddit:hover {
    background-color: #3a80c1
  }
  
  .resp-sharing-button--google {
    background-color: #dd4b39
  }
  
  .resp-sharing-button--google:hover {
    background-color: #c23321
  }
  
  .resp-sharing-button--linkedin {
    background-color: #0077b5
  }
  
  .resp-sharing-button--linkedin:hover {
    background-color: #046293
  }
  
  .resp-sharing-button--email {
    background-color: #777
  }
  
  .resp-sharing-button--email:hover {
    background-color: #5e5e5e
  }
  
  .resp-sharing-button--xing {
    background-color: #1a7576
  }
  
  .resp-sharing-button--xing:hover {
    background-color: #114c4c
  }
  
  .resp-sharing-button--whatsapp {
    background-color: #25D366
  }
  
  .resp-sharing-button--whatsapp:hover {
    background-color: #1da851
  }
  
  .resp-sharing-button--hackernews {
  background-color: #FF6600
  }
  .resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }
  
  .resp-sharing-button--vk {
    background-color: #507299
  }
  
  .resp-sharing-button--vk:hover {
    background-color: #43648c
  }
  
  .resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
  }
  
  .resp-sharing-button--facebook:hover,
  .resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
  }
  
  .resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
  }
  
  .resp-sharing-button--twitter:hover,
  .resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }
  
  .resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
  }
  
  .resp-sharing-button--email:hover,
  .resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
  }
  
  .resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
  }
  
  .resp-sharing-button--linkedin:hover,
  .resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
  }
  
  .resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf;
  }
  
  .resp-sharing-button--reddit:hover,
  .resp-sharing-button--reddit:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
  }
  
  .resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
  }
  
  .resp-sharing-button--whatsapp:hover,
  .resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
  }
  
  .resp-sharing-button--hackernews {
    background-color: #FF6600;
    border-color: #FF6600;
  }
  
  .resp-sharing-button--hackernews:hover
  .resp-sharing-button--hackernews:active {
    background-color: #FB6200;
    border-color: #FB6200;
  }
  
  .resp-sharing-button--telegram {
    background-color: #54A9EB;
  }
  
  .resp-sharing-button--telegram:hover {
    background-color: #4B97D1;}
  